*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#game{
    margin: 0 auto;
    width: max-content;
    transform: translateY(100px);
}
#area{
    width: 500px;
    height: 500px;
    border: 2px solid black;
    position: relative;
}
#ball{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    background: red;
    top: 0;
}
#bar{
    width: 100px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    background: blue;
    top: calc(100% - 20px);
}
#buttons{
    transform: translateY(20px);
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
#start, #pause{
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
}
#start{
    background-color: green;
}
#pause{
    background-color: red;
}